version: "3"
services:
  app:
    build: .
    # volumes:
    #   - ".:/usr/src/app"
    ports:
      - "5000:5000"
    env_file: .env
    depends_on:
      - db
    networks:
      - carefreeav_network
    image: carefreeav_backend_app:latest
  db:
    image: "postgres:alpine"
    environment: 
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_DB=${POSTGRES_DB}
      - POSTGRES_HOST=${POSTGRES_HOST}
    restart: on-failure
    volumes:
      - db-data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    networks:
      - carefreeav_network
networks:
  carefreeav_network:
volumes:
  db-data:
